body {
  margin: 0px;
  padding: 0px;
  color: #15B89A;
  background-color: #3F2B51;
}

.container {
  margin: 80px auto;
  vertical-align: top;
  width: 682px;
}

.board {
  margin: auto auto;
  height: 680px;
  border: solid 1px #15B89A;
  border-radius: 8px;
}

.box {
  margin-left: 8px;
  margin-top: 10px;
  width: 211px;
  height: 211px;
  border: solid 1px #15B89A;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
}

button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 680px;
  height: 60px; 
  background-color: #3F2B51;
  border: solid 1px #15B89A;
  border-radius: 8px;
  color: #15B89A;
}

button:focus {outline:0;}



